* {
  --light-green: rgb(144, 238, 144);
  --mid-green: rgb(11, 218, 81);
  --dark-green: rgb(34, 139, 34);
  --mid2-green: #00693e;

  --name-font: "Poppins", sans-serif;
  --font-2: "Baloo Bhai 2", cursive;
  --font-3: "Comfortaa", cursive;
  --font-4: "Raleway", sans-serif;
}

html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper {
  display: grid;
  grid-gap: 0px;
}

/* --------top section------- */
.top-section {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: center; */
  height: auto;
  background: #277a00;
  border-radius: 10px;
}

.site-id {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-id img {
  max-height: 100px;
  max-width: 100px;
  top: 0px;
  margin: 5px 20px;
}

.site-id span {
  font-family: var(--font-3);
  font-weight: bold;
  color: var(--light-green);
  text-shadow: 2px 2px 1px rgb(107, 48, 48);
}

.site-id span a {
  font-family: var(--font-3);
  font-weight: bold;
  color: var(--light-green);
  text-shadow: 2px 2px 1px rgb(107, 48, 48);
}

.site-id > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--font-3);
  text-align: center;
}

.profile-section {
  display: flex;
  justify-content: center;
  /* align-self:flex-end; */
  align-items: center;
  margin-right: 20px;
}

.profile-section img {
  max-width: 60px;
  max-height: 60px;
  margin: 10px;
  margin-bottom: 3px;
  background-color: rgb(179, 167, 155);
  border: 2px solid rgb(1, 70, 7);
  border-radius: 100px;
}

.user-name {
  font-size: 1.3rem;
  color: rgb(197, 252, 196);
  font-weight: bold;
  font-family: var(--font-4);
}

/* -------navigation section-------- */
.navigation {
  /* border: 2px solid ; */
  /* margin: 10px auto; */
  /* background: #5fa83d; */
}

.nav-bar ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,280px);
  grid-gap: 3px 10px;
  justify-self: center;
  justify-content: space-evenly;
  align-self: stretch;
  padding: 10px;
}

.nav-bar li {
  list-style: none;
  /* border: 1px solid; */
  padding: 4px 0px;
  font-size: 1.4rem;
  background-color: rgb(110 200 73);
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 2px 2px 3px 2px rgba(41, 58, 0, 0.712);
  /* margin: 0px 10px; */
  font-family: var(--font-2);
}

.nav-bar li:hover {
  transform: scale(1.04);
  transition: all 0.6s ease-in-out;
}
.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* ----------------Intro section------------ */

.intro-left {
  grid-area: intro-left;
  border: 1px solid black;
  position: relative;
  height: auto;
}

.intro-left::before {
  position: absolute;
  content: "";
  background: url("../img/bg-2.jpg") center center;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

.intro-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.247);
}

.intro-left h2 {
  font-weight: bold;
  margin: 5px;
  font-size: 2.5rem;
  color: rgb(248, 244, 0);
  text-shadow: 3px 3px 8px black;
  font-family: var(--font-3);
}

.intro-left p {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  font-family: var(--font-4);
}

.sign-up {
  grid-area: signup;
  border: 1px solid black;
  background: rgb(205, 250, 136);
}
.sign-in {
  grid-area: signin;
  border: 1px solid black;

  background: rgb(205, 250, 136);
}

.sign-in h3,
.sign-up h3 {
  font-size: 1.3rem;
  text-align: center;
  font-family: var(--font-3);
}

.intro-section {
  margin: 10px 0px;
  display: grid;
  grid-template-areas:
    "intro-left intro-left intro-left intro-left signup"
    "intro-left intro-left intro-left intro-left signup"
    "intro-left intro-left intro-left intro-left signin"
    "intro-left intro-left intro-left intro-left signin";

  grid-gap: 15px;
  justify-items: stretch;
  align-items: stretch;
}

/* --------features section------------------- */

.s-heading {
  text-align: center;
  font-size: 2.5rem;
  /* background-color: rgba(116, 139, 132, 0.438); */
  /* padding: 5px; */
  /* border: 2px solid rgb(0, 100, 0); */
  border-radius: 10px;
  margin: 10px auto;
  margin-bottom: 2px;
  font-family: var(--font-3);
}

.farmers-services,
.Retailer-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  /* border: 2px solid; */
  grid-gap: 20px;
  justify-items: stretch;
  justify-content: center;
  align-items: stretch;
  margin: 10px auto;
  margin-bottom: 25px;
  padding: 25px 10px;
}

.service-box {
  height: auto;
  margin: 10px;
  border: 1px solid black;
  background-color: rgba(208, 250, 153, 0.514);
  box-shadow: 3px 3px 5px rgb(25, 65, 35);
  justify-content: start;
  padding: 10px 20px;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.4s ease-in;
  font-family: var(--font-4);
}

.service-box img {
  max-width: 80px;
  max-height: 80px;
  margin: 10px;
  margin-top: 5px;
}

.service-box p {
  font-size: 1.4rem;
  text-align: center;
  margin: 5px auto;
  margin-bottom: 10px;
  font-weight: bold;
}

.service-box a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(224, 97, 24);
  font-size: 1.2rem;
}

.service-box:hover {
  transform: translate(0px, 10px) scale(1.05);
}

#retailer-heading {
  color: rgb(33, 134, 2);
}

/* ---------Review section---! */

#review-section {
  /* border: 2px solid; */
  margin: 15px 0px;
  padding: 15px 0px;
  background-color: rgb(168, 223, 168);
  padding: 20px;
}

#review-section h3 {
  text-align: center;
  font-size: 2rem;
  margin: 5px auto;
  background-color: rgba(165, 243, 165, 0.829);
  box-shadow: 2px 2px 2px rgb(26, 3, 3), 2px 2px 2px rgb(26, 3, 3);
  border: 2px solid;
  border-radius: 7px;
  width: max-content;
  padding: 5px 20px;
  font-family: var(--font-2);
}

.review-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reviews {
  max-width: 340px;
  width: fit-content;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid rgb(134, 132, 0);
  border-radius: 50px;
  background: rgba(197, 255, 216, 0.795);
  font-family: var(--font-3);
  margin: 10px;
}

.user-img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  margin-bottom: 3px;
  background-color: rgb(179, 167, 155);
  border: 2px solid rgb(0, 141, 12);
  border-radius: 100px;
}

.review-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 20px;
  margin-bottom: 2px;

  /* align-items: center; */
}

.review-text span {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin: 5px 0px;
}

.review-text img {
  background: none;
  max-width: 30px;
  max-height: 50px;
  margin: 2px;
}

#open-quote-icon {
  align-self: center;
}

#close-quote-icon {
  align-self: flex-end;
  /* background-color: rgb(139, 0, 0); */
}

/* -----------footer Section--------------- */

.footer {
  display: flex;
  background-color: rgb(95 168 61);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  font-family: var(--font-2);
}
.footer h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
}

.footer p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0px;
}
.footer p > span {
  color: rgb(138, 0, 0);
}
